# MacOS
.DS_STORE

# Python
__pycache__
*.pyc
.env

# VSCode
.vscode

# Stanford tagger
english.all.3class.distsim.crf.ser.gz
stanford-ner.jar

# Data
training
untagged
test_tagged
test_untagged
output
GoogleNews-vectors-negative300.bin
